<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mes Canaux</title>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/current/metro.css">
</head>
<body>
<div class="container mt-4">
    <h1>Mes canaux de discussion</h1>

    <!-- Message si la liste est vide -->
    <div th:if="${#lists.isEmpty(myChatRooms)}" class="alert alert-warning">
        Aucun canal trouvé.
    </div>

    <!-- Tableau des chatrooms -->
    <table class="table striped" th:if="${not #lists.isEmpty(myChatRooms)}">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Date</th>
            <th>Durée (en jours)</th>
            <th>Membres</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="chat : ${myChatRooms}">
            <td th:text="${chat.channel}">Titre</td>
            <td th:text="${chat.description}">Description</td>
            <td th:text="${chat.date}">Date</td>
            <td th:text="${chat.lifespan}">Durée</td>

        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.metroui.org.ua/current/metro.js"></script>
</body>
</html>
